<div class="container mt-4">
    <div class="row">
      <!-- loop through the products -->
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <div class="card h-100">
          <!-- Product Thumbnail -->
          <img [src]="product.thumbnail" class="card-img-top" alt="{{ product.title }}" />
          
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>

            <p class="card-text">
              {{ product.description | slice:0:100 }}...
            </p>

            <p class="fw-bold">
              {{ product.price | currency }}
            </p>
  

            <span class="badge bg-warning text-dark">
              {{ product.availabilityStatus }}
            </span>
  
            <p class="mt-2">
              <small class="text-muted">
                Stock: {{ product.stock }} | Rating: {{ product.rating }}
              </small>
            </p>
          </div>
          <a [routerLink]="['/products', product.id]" class="btn btn-primary">View Details</a>
  

          <div class="card-footer">
            <p><strong>Top Review:</strong></p>
            <p *ngIf="product.reviews.length > 0">
              "{{ product.reviews[0].comment }}" - {{ product.reviews[0].reviewerName }}
            </p>
            <p *ngIf="product.reviews.length === 0">No reviews yet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  